html
{
    font-size:100%;
}

a,.page-title
{
    color:#ea3d84;
}

a:hover,a:focus
{
    color:#ea3d84;
}

body,button,input,select,textarea,.ast-button,.ast-custom-button
{
    font-family:'Raleway',sans-serif;
    font-weight:600;
    font-size:16px;
    font-size:1rem;
}

blockquote
{
    color:#000000;
}

p,.entry-content p
{
    margin-bottom:0.5em;
}

h1,.entry-content h1,.entry-content h1 a,h2,.entry-content h2,.entry-content h2 a,h3,.entry-content h3,.entry-content h3 a,h4,.entry-content h4,.entry-content h4 a,h5,.entry-content h5,.entry-content h5 a,h6,.entry-content h6,.entry-content h6 a,.site-title,.site-title a
{
    font-family:'Candy Cake',handwriting;
    font-weight:400;
}

.site-title
{
    font-size:35px;
    font-size:2.1875rem;
}

header .site-logo-img .custom-logo-link img
{
    max-width:120px;
}

.astra-logo-svg
{
    width:120px;
}

.ast-archive-description .ast-archive-title
{
    font-size:40px;
    font-size:2.5rem;
}

.site-header .site-description
{
    font-size:15px;
    font-size:0.9375rem;
}

.entry-title
{
    font-size:30px;
    font-size:1.875rem;
}

.comment-reply-title
{
    font-size:26px;
    font-size:1.625rem;
}

.ast-comment-list #cancel-comment-reply-link
{
    font-size:16px;
    font-size:1rem;
}

h1,.entry-content h1,.entry-content h1 a
{
    font-size:100px;
    font-size:6.25rem;
    font-weight:400;
    font-family:'Candy Cake',handwriting;
}

h2,.entry-content h2,.entry-content h2 a
{
    font-size:70px;
    font-size:4.375rem;
    font-weight:400;
    font-family:'Candy Cake',handwriting;
}

h3,.entry-content h3,.entry-content h3 a
{
    font-size:40px;
    font-size:2.5rem;
    font-weight:400;
    font-family:'Candy Cake',handwriting;
    line-height:1;
}

h4,.entry-content h4,.entry-content h4 a
{
    font-size:32px;
    font-size:2rem;
}

h5,.entry-content h5,.entry-content h5 a
{
    font-size:26px;
    font-size:1.625rem;
}

h6,.entry-content h6,.entry-content h6 a
{
    font-size:17px;
    font-size:1.0625rem;
}

.ast-single-post .entry-title,.page-title
{
    font-size:30px;
    font-size:1.875rem;
}

::selection
{
    background-color:#ea3d84;
    color:#ffffff;
}

body,h1,.entry-title a,.entry-content h1,.entry-content h1 a,h2,.entry-content h2,.entry-content h2 a,h3,.entry-content h3,.entry-content h3 a,h4,.entry-content h4,.entry-content h4 a,h5,.entry-content h5,.entry-content h5 a,h6,.entry-content h6,.entry-content h6 a
{
    color:#000000;
}

.tagcloud a:hover,.tagcloud a:focus,.tagcloud a.current-item
{
    color:#ffffff;
    border-color:#ea3d84;
    background-color:#ea3d84;
}

input:focus,input[type="text"]:focus,input[type="email"]:focus,input[type="url"]:focus,input[type="password"]:focus,input[type="reset"]:focus,input[type="search"]:focus,textarea:focus
{
    border-color:#ea3d84;
}

input[type="radio"]:checked,input[type=reset],input[type="checkbox"]:checked,input[type="checkbox"]:hover:checked,input[type="checkbox"]:focus:checked,input[type=range]::-webkit-slider-thumb
{
    border-color:#ea3d84;
    background-color:#ea3d84;
    box-shadow:none;
}

.site-footer a:hover + .post-count,.site-footer a:focus + .post-count
{
    background:#ea3d84;
    border-color:#ea3d84;
}

.ast-comment-meta
{
    line-height:1.666666667;
    font-size:13px;
    font-size:0.8125rem;
}

.single .nav-links .nav-previous,.single .nav-links .nav-next,.single .ast-author-details .author-title,.ast-comment-meta
{
    color:#ea3d84;
}

.entry-meta,.entry-meta *
{
    line-height:1.45;
    color:#ea3d84;
}

.entry-meta a:hover,.entry-meta a:hover *,.entry-meta a:focus,.entry-meta a:focus *
{
    color:#ea3d84;
}

.ast-404-layout-1 .ast-404-text
{
    font-size:200px;
    font-size:12.5rem;
}

.widget-title
{
    font-size:22px;
    font-size:1.375rem;
    color:#000000;
}

#cat option,.secondary .calendar_wrap thead a,.secondary .calendar_wrap thead a:visited
{
    color:#ea3d84;
}

.secondary .calendar_wrap #today,.ast-progress-val span
{
    background:#ea3d84;
}

.secondary a:hover + .post-count,.secondary a:focus + .post-count
{
    background:#ea3d84;
    border-color:#ea3d84;
}

.calendar_wrap #today > a
{
    color:#ffffff;
}

.ast-pagination a,.page-links .page-link,.single .post-navigation a
{
    color:#ea3d84;
}

.ast-pagination a:hover,.ast-pagination a:focus,.ast-pagination > span:hover:not(.dots),.ast-pagination > span.current,.page-links > .page-link,.page-links .page-link:hover,.post-navigation a:hover
{
    color:#ea3d84;
}

.ast-header-break-point .ast-mobile-menu-buttons-minimal.menu-toggle
{
    background:transparent;
    color:#ffaf00;
}

.ast-header-break-point .ast-mobile-menu-buttons-outline.menu-toggle
{
    background:transparent;
    border:1px solid #ffaf00;
    color:#ffaf00;
}

.ast-header-break-point .ast-mobile-menu-buttons-fill.menu-toggle
{
    background:#ffaf00;
    color:#ffffff;
}

.wp-block-buttons.aligncenter
{
    justify-content:center;
}

@media (max-width:782px)
{
    .entry-content .wp-block-columns .wp-block-column
    {
        margin-left:0px;
    }
}

@media (max-width:921px)
{
    .ast-separate-container .ast-article-post,.ast-separate-container .ast-article-single
    {
        padding:1.5em 2.14em;
    }

    .ast-separate-container #primary,.ast-separate-container #secondary
    {
        padding:1.5em 0;
    }

    #primary,#secondary
    {
        padding:1.5em 0;
        margin:0;
    }

    .ast-left-sidebar #content > .ast-container
    {
        display:flex;
        flex-direction:column-reverse;
        width:100%;
    }

    .ast-author-box img.avatar
    {
        margin:20px 0 0 0;
    }
}

@media (max-width:921px)
{
    .ast-right-sidebar #primary
    {
        padding-right:0;
    }

    .ast-pagination .prev.page-numbers
    {
        padding-left:.5em;
    }

    .ast-pagination .next.page-numbers
    {
        padding-right:.5em;
    }
}

@media (min-width:922px)
{
    .ast-separate-container.ast-right-sidebar #primary,.ast-separate-container.ast-left-sidebar #primary
    {
        border:0;
    }

    .ast-separate-container .ast-comment-list li .comment-respond
    {
        padding-left:2.66666em;
        padding-right:2.66666em;
    }

    .ast-author-box
    {
        -js-display:flex;
        display:flex;
    }

    .ast-author-bio
    {
        flex:1;
    }

    .error404.ast-separate-container #primary,.search-no-results.ast-separate-container #primary
    {
        margin-bottom:4em;
    }
}

@media (min-width:922px)
{
    .ast-right-sidebar #primary
    {
        border-right:1px solid #eee;
    }

    .ast-left-sidebar #primary
    {
        border-left:1px solid #eee;
    }
}

.elementor-button-wrapper .elementor-button
{
    border-style:solid;
    border-top-width:0;
    border-right-width:0;
    border-left-width:0;
    border-bottom-width:0;
}
.elementor-button-wrapper2 .elementor-button
{
    border-style:solid;
    border-top-width:0;
    border-right-width:0;
    border-left-width:0;
    border-bottom-width:0;
}

body .elementor-button.elementor-size-sm,body .elementor-button.elementor-size-xs,body .elementor-button.elementor-size-md,body .elementor-button.elementor-size-lg,body .elementor-button.elementor-size-xl,body .elementor-button
{
    border-radius:50px;
    padding-top:13px;
    padding-right:40px;
    padding-bottom:13px;
    padding-left:40px;
}

.elementor-button-wrapper .elementor-button
{
    border-color:#0b8b44;
    background-color:#0b8b44;
}
.elementor-button-wrapper2 .elementor-button
{
    border-color:#f9cc00;
    background-color:#f9cc00;
}


.elementor-button-wrapper .elementor-button:hover,.elementor-button-wrapper .elementor-button:focus
{
    color:#ffffff;
    background-color:#f9cc00;
    border-color:#f9cc00;
}

.wp-block-button .wp-block-button__link,.elementor-button-wrapper .elementor-button,.elementor-button-wrapper .elementor-button:visited
{
    color:#ffffff;
}

.elementor-button-wrapper .elementor-button
{
    font-family:'Candy Cake',handwriting;
    font-weight:400;
    line-height:1;
    text-transform:uppercase;
}
.elementor-button-wrapper2 .elementor-button
{
    font-family:'Candy Cake',handwriting;
    font-weight:400;
    line-height:1;
    text-transform:uppercase;
}

body .elementor-button.elementor-size-sm,body .elementor-button.elementor-size-xs,body .elementor-button.elementor-size-md,body .elementor-button.elementor-size-lg,body .elementor-button.elementor-size-xl,body .elementor-button
{
    font-size:22px;
    font-size:1.375rem;
}

.wp-block-button .wp-block-button__link
{
    border-style:solid;
    border-top-width:0;
    border-right-width:0;
    border-left-width:0;
    border-bottom-width:0;
    border-color:#ffaf00;
    background-color:#ffaf00;
    color:#ffffff;
    font-family:'Candy Cake',handwriting;
    font-weight:400;
    line-height:1;
    text-transform:uppercase;
    font-size:22px;
    font-size:1.375rem;
    border-radius:50px;
    padding-top:13px;
    padding-right:40px;
    padding-bottom:13px;
    padding-left:40px;
}

.wp-block-button .wp-block-button__link:hover,.wp-block-button .wp-block-button__link:focus
{
    color:#ffffff;
    background-color:#f9cc00;
    border-color:#f9cc00;
}

.elementor-widget-heading h3.elementor-heading-title
{
    line-height:1;
}

.menu-toggle,button,.ast-button,.ast-custom-button,.button,input#submit,input[type="button"],input[type="submit"],input[type="reset"]
{
    border-style:solid;
    border-top-width:0;
    border-right-width:0;
    border-left-width:0;
    border-bottom-width:0;
    color:#ffffff;
    border-color:#ffaf00;
    background-color:#ffaf00;
    border-radius:50px;
    padding-top:13px;
    padding-right:40px;
    padding-bottom:13px;
    padding-left:40px;
    font-family:'Candy Cake',handwriting;
    font-weight:400;
    font-size:22px;
    font-size:1.375rem;
    line-height:1;
    text-transform:uppercase;
}

button:focus,.menu-toggle:hover,button:hover,.ast-button:hover,.ast-custom-button:hover .button:hover,.ast-custom-button:hover ,input[type=reset]:hover,input[type=reset]:focus,input#submit:hover,input#submit:focus,input[type="button"]:hover,input[type="button"]:focus,input[type="submit"]:hover,input[type="submit"]:focus
{
    color:#ffffff;
    background-color:#f9cc00;
    border-color:#f9cc00;
}

@media (min-width:921px)
{
    .ast-container
    {
        max-width:100%;
    }
}

@media (min-width:544px)
{
    .ast-container
    {
        max-width:100%;
    }
}

@media (max-width:544px)
{
    .ast-separate-container .ast-article-post,.ast-separate-container .ast-article-single
    {
        padding:1.5em 1em;
    }

    .ast-separate-container #content .ast-container
    {
        padding-left:0.54em;
        padding-right:0.54em;
    }

    .ast-separate-container .comments-count-wrapper
    {
        padding:1.5em 1em;
    }

    .ast-separate-container .ast-comment-list li.depth-1
    {
        padding:1.5em 1em;
        margin-bottom:1.5em;
    }

    .ast-separate-container .ast-comment-list .bypostauthor
    {
        padding:.5em;
    }

    .ast-separate-container .ast-archive-description
    {
        padding:1.5em 1em;
    }

    .ast-search-menu-icon.ast-dropdown-active .search-field
    {
        width:170px;
    }

    .ast-separate-container .comment-respond
    {
        padding:1.5em 1em;
    }
}

@media (max-width:544px)
{
    .ast-comment-list .children
    {
        margin-left:0.66666em;
    }

    .ast-separate-container .ast-comment-list .bypostauthor li
    {
        padding:0 0 0 .5em;
    }
}

@media (max-width:921px)
{
    .ast-mobile-header-stack .main-header-bar .ast-search-menu-icon
    {
        display:inline-block;
    }

    .ast-header-break-point.ast-header-custom-item-outside .ast-mobile-header-stack .main-header-bar .ast-search-icon
    {
        margin:0;
    }

    .ast-comment-avatar-wrap img
    {
        max-width:2.5em;
    }

    .comments-area
    {
        margin-top:1.5em;
    }

    .ast-separate-container .comments-count-wrapper
    {
        padding:2em 2.14em;
    }

    .ast-separate-container .ast-comment-list li.depth-1
    {
        padding:1.5em 2.14em;
    }

    .ast-separate-container .comment-respond
    {
        padding:2em 2.14em;
    }
}

@media (max-width:921px)
{
    .ast-header-break-point .main-header-bar .ast-search-menu-icon.slide-search .search-form
    {
        right:0;
    }

    .ast-header-break-point .ast-mobile-header-stack .main-header-bar .ast-search-menu-icon.slide-search .search-form
    {
        right:-1em;
    }

    .ast-comment-avatar-wrap
    {
        margin-right:0.5em;
    }
}

@media (min-width:545px)
{
    .ast-page-builder-template .comments-area,.single.ast-page-builder-template .entry-header,.single.ast-page-builder-template .post-navigation
    {
        max-width:1280px;
        margin-left:auto;
        margin-right:auto;
    }
}

@media (max-width:921px)
{
    .ast-archive-description .ast-archive-title
    {
        font-size:40px;
    }

    .entry-title
    {
        font-size:30px;
    }

    h1,.entry-content h1,.entry-content h1 a
    {
        font-size:60px;
    }

    h2,.entry-content h2,.entry-content h2 a
    {
        font-size:45px;
    }

    h3,.entry-content h3,.entry-content h3 a
    {
        font-size:28px;
    }

    h4,.entry-content h4,.entry-content h4 a
    {
        font-size:30px;
        font-size:1.875rem;
    }

    h6,.entry-content h6,.entry-content h6 a
    {
        font-size:17px;
        font-size:1.0625rem;
    }

    .ast-single-post .entry-title,.page-title
    {
        font-size:30px;
    }
}

@media (max-width:544px)
{
    .ast-archive-description .ast-archive-title
    {
        font-size:40px;
    }

    .entry-title
    {
        font-size:30px;
    }

    h1,.entry-content h1,.entry-content h1 a
    {
        font-size:50px;
    }

    h2,.entry-content h2,.entry-content h2 a
    {
        font-size:35px;
    }

    h3,.entry-content h3,.entry-content h3 a
    {
        font-size:30px;
    }

    .ast-single-post .entry-title,.page-title
    {
        font-size:30px;
    }

    .ast-header-break-point .site-branding img,.ast-header-break-point #masthead .site-logo-img .custom-logo-link img
    {
        max-width:140px;
    }

    .astra-logo-svg
    {
        width:140px;
    }

    .ast-header-break-point .site-logo-img .custom-mobile-logo-link img
    {
        max-width:140px;
    }
}

@media (max-width:921px)
{
    html
    {
        font-size:91.2%;
    }
}

@media (max-width:544px)
{
    html
    {
        font-size:91.2%;
    }
}

@media (min-width:922px)
{
    .ast-container
    {
        max-width:1280px;
    }
}

@font-face
{
    font-family: "Astra";
    src: url(https://websitedemos.net/kindergarten-04/wp-content/themes/astra/assets/fonts/astra.woff) format("woff"),url(https://websitedemos.net/kindergarten-04/wp-content/themes/astra/assets/fonts/astra.ttf) format("truetype"),url(https://websitedemos.net/kindergarten-04/wp-content/themes/astra/assets/fonts/astra.svg#astra) format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

@media (min-width:922px)
{
    .single-post .site-content > .ast-container
    {
        max-width:1100px;
    }
}

@media (min-width:922px)
{
    .main-header-menu .sub-menu .menu-item.ast-left-align-sub-menu:hover > .sub-menu,.main-header-menu .sub-menu .menu-item.ast-left-align-sub-menu.focus > .sub-menu
    {
        margin-left:-2px;
    }
}

@media (max-width:920px)
{
    .ast-404-layout-1 .ast-404-text
    {
        font-size:100px;
        font-size:6.25rem;
    }
}

.ast-theme-transparent-header #masthead .site-logo-img .transparent-custom-logo .astra-logo-svg
{
    width:150px;
}

.ast-theme-transparent-header #masthead .site-logo-img .transparent-custom-logo img
{
    max-width:150px;
}

@media (max-width:921px)
{
    .ast-theme-transparent-header #masthead .site-logo-img .transparent-custom-logo .astra-logo-svg
    {
        width:100px;
    }

    .ast-theme-transparent-header #masthead .site-logo-img .transparent-custom-logo img
    {
        max-width:100px;
    }
}

@media (min-width:922px)
{
    .ast-theme-transparent-header #masthead
    {
        position:absolute;
        left:0;
        right:0;
    }

    .ast-theme-transparent-header .main-header-bar,.ast-theme-transparent-header.ast-header-break-point .main-header-bar
    {
        background:none;
    }

    body.elementor-editor-active.ast-theme-transparent-header #masthead,.fl-builder-edit .ast-theme-transparent-header #masthead,body.vc_editor.ast-theme-transparent-header #masthead,body.brz-ed.ast-theme-transparent-header #masthead
    {
        z-index:0;
    }

    .ast-header-break-point.ast-replace-site-logo-transparent.ast-theme-transparent-header .custom-mobile-logo-link
    {
        display:none;
    }

    .ast-header-break-point.ast-replace-site-logo-transparent.ast-theme-transparent-header .transparent-custom-logo
    {
        display:inline-block;
    }

    .ast-theme-transparent-header .ast-above-header,.ast-theme-transparent-header .ast-above-header.ast-above-header-bar
    {
        background-image:none;
        background-color:transparent;
    }

    .ast-theme-transparent-header .ast-below-header
    {
        background-image:none;
        background-color:transparent;
    }
}

@media (max-width:921px)
{
    .ast-theme-transparent-header #masthead
    {
        position:absolute;
        left:0;
        right:0;
    }

    .ast-theme-transparent-header .main-header-bar,.ast-theme-transparent-header.ast-header-break-point .main-header-bar
    {
        background:none;
    }

    body.elementor-editor-active.ast-theme-transparent-header #masthead,.fl-builder-edit .ast-theme-transparent-header #masthead,body.vc_editor.ast-theme-transparent-header #masthead,body.brz-ed.ast-theme-transparent-header #masthead
    {
        z-index:0;
    }

    .ast-header-break-point.ast-replace-site-logo-transparent.ast-theme-transparent-header .custom-mobile-logo-link
    {
        display:none;
    }

    .ast-header-break-point.ast-replace-site-logo-transparent.ast-theme-transparent-header .transparent-custom-logo
    {
        display:inline-block;
    }

    .ast-theme-transparent-header .ast-above-header,.ast-theme-transparent-header .ast-above-header.ast-above-header-bar
    {
        background-image:none;
        background-color:transparent;
    }

    .ast-theme-transparent-header .ast-below-header
    {
        background-image:none;
        background-color:transparent;
    }
}

@media (max-width:921px)
{
    .ast-theme-transparent-header .main-header-menu,.ast-theme-transparent-header .main-header-menu .menu-link,.ast-theme-transparent-header [CLASS*="ast-builder-menu-"] .main-header-menu .menu-item > .menu-link,.ast-theme-transparent-header .ast-masthead-custom-menu-items,.ast-theme-transparent-header .ast-masthead-custom-menu-items a,.ast-theme-transparent-header .main-header-menu .menu-item > .ast-menu-toggle,.ast-theme-transparent-header .main-header-menu .menu-item > .ast-menu-toggle
    {
        color:#000000;
    }

    .ast-theme-transparent-header .main-header-menu .menu-item:hover > .menu-link,.ast-theme-transparent-header .main-header-menu .menu-item:hover > .ast-menu-toggle,.ast-theme-transparent-header .main-header-menu .ast-masthead-custom-menu-items a:hover,.ast-theme-transparent-header .main-header-menu .focus > .menu-link,.ast-theme-transparent-header .main-header-menu .focus > .ast-menu-toggle,.ast-theme-transparent-header .main-header-menu .current-menu-item > .menu-link,.ast-theme-transparent-header .main-header-menu .current-menu-ancestor > .menu-link,.ast-theme-transparent-header .main-header-menu .current-menu-item > .ast-menu-toggle,.ast-theme-transparent-header .main-header-menu .current-menu-ancestor > .ast-menu-toggle,.ast-theme-transparent-header [CLASS*="ast-builder-menu-"] .main-header-menu .current-menu-item > .menu-link,.ast-theme-transparent-header [CLASS*="ast-builder-menu-"] .main-header-menu .current-menu-ancestor > .menu-link,.ast-theme-transparent-header [CLASS*="ast-builder-menu-"] .main-header-menu .current-menu-item > .ast-menu-toggle,.ast-theme-transparent-header [CLASS*="ast-builder-menu-"] .main-header-menu .current-menu-ancestor > .ast-menu-toggle
    {
        color:#ea3d84;
    }
}

.ast-theme-transparent-header #ast-desktop-header > [CLASS*="-header-wrap"]:last-child > [CLASS*="-header-bar"],.ast-theme-transparent-header.ast-header-break-point #ast-mobile-header > [CLASS*="-header-wrap"]:nth-last-child(2) > [CLASS*="-header-bar"]
{
    border-bottom-width:0;
    border-bottom-style:solid;
}

.ast-breadcrumbs .trail-browse,.ast-breadcrumbs .trail-items,.ast-breadcrumbs .trail-items li
{
    display:inline-block;
    margin:0;
    padding:0;
    border:none;
    background:inherit;
    text-indent:0;
}

.ast-breadcrumbs .trail-browse
{
    font-size:inherit;
    font-style:inherit;
    font-weight:inherit;
    color:inherit;
}

.ast-breadcrumbs .trail-items
{
    list-style:none;
}

.trail-items li::after
{
    padding:0 0.3em;
    content:"\00bb";
}

.trail-items li:last-of-type::after
{
    display:none;
}

h1,.entry-content h1,h2,.entry-content h2,h3,.entry-content h3,h4,.entry-content h4,h5,.entry-content h5,h6,.entry-content h6
{
    color:#000000;
}

@media (max-width:921px)
{
    .ast-builder-grid-row-container.ast-builder-grid-row-tablet-6-equal .ast-builder-grid-row
    {
        grid-template-columns:repeat( 6,1fr );
    }

    .ast-builder-grid-row-container.ast-builder-grid-row-tablet-5-equal .ast-builder-grid-row
    {
        grid-template-columns:repeat( 5,1fr );
    }

    .ast-builder-grid-row-container.ast-builder-grid-row-tablet-4-equal .ast-builder-grid-row
    {
        grid-template-columns:repeat( 4,1fr );
    }

    .ast-builder-grid-row-container.ast-builder-grid-row-tablet-4-lheavy .ast-builder-grid-row
    {
        grid-template-columns:2fr 1fr 1fr 1fr;
    }

    .ast-builder-grid-row-container.ast-builder-grid-row-tablet-4-rheavy .ast-builder-grid-row
    {
        grid-template-columns:1fr 1fr 1fr 2fr;
    }

    .ast-builder-grid-row-container.ast-builder-grid-row-tablet-3-equal .ast-builder-grid-row
    {
        grid-template-columns:repeat( 3,1fr );
    }

    .ast-builder-grid-row-container.ast-builder-grid-row-tablet-3-lheavy .ast-builder-grid-row
    {
        grid-template-columns:2fr 1fr 1fr;
    }

    .ast-builder-grid-row-container.ast-builder-grid-row-tablet-3-rheavy .ast-builder-grid-row
    {
        grid-template-columns:1fr 1fr 2fr;
    }

    .ast-builder-grid-row-container.ast-builder-grid-row-tablet-3-cheavy .ast-builder-grid-row
    {
        grid-template-columns:1fr 2fr 1fr;
    }

    .ast-builder-grid-row-container.ast-builder-grid-row-tablet-3-cwide .ast-builder-grid-row
    {
        grid-template-columns:1fr 3fr 1fr;
    }

    .ast-builder-grid-row-container.ast-builder-grid-row-tablet-3-firstrow .ast-builder-grid-row
    {
        grid-template-columns:1fr 1fr;
    }

    .ast-builder-grid-row-container.ast-builder-grid-row-tablet-3-firstrow .ast-builder-grid-row > *:first-child
    {
        grid-column:1 / -1;
    }

    .ast-builder-grid-row-container.ast-builder-grid-row-tablet-3-lastrow .ast-builder-grid-row
    {
        grid-template-columns:1fr 1fr;
    }

    .ast-builder-grid-row-container.ast-builder-grid-row-tablet-3-lastrow .ast-builder-grid-row > *:last-child
    {
        grid-column:1 / -1;
    }

    .ast-builder-grid-row-container.ast-builder-grid-row-tablet-2-equal .ast-builder-grid-row
    {
        grid-template-columns:repeat( 2,1fr );
    }

    .ast-builder-grid-row-container.ast-builder-grid-row-tablet-2-lheavy .ast-builder-grid-row
    {
        grid-template-columns:2fr 1fr;
    }

    .ast-builder-grid-row-container.ast-builder-grid-row-tablet-2-rheavy .ast-builder-grid-row
    {
        grid-template-columns:1fr 2fr;
    }

    .ast-builder-grid-row-container.ast-builder-grid-row-tablet-full .ast-builder-grid-row
    {
        grid-template-columns:1fr;
    }
}

@media (max-width:544px)
{
    .ast-builder-grid-row-container.ast-builder-grid-row-mobile-6-equal .ast-builder-grid-row
    {
        grid-template-columns:repeat( 6,1fr );
    }

    .ast-builder-grid-row-container.ast-builder-grid-row-mobile-5-equal .ast-builder-grid-row
    {
        grid-template-columns:repeat( 5,1fr );
    }

    .ast-builder-grid-row-container.ast-builder-grid-row-mobile-4-equal .ast-builder-grid-row
    {
        grid-template-columns:repeat( 4,1fr );
    }

    .ast-builder-grid-row-container.ast-builder-grid-row-mobile-4-lheavy .ast-builder-grid-row
    {
        grid-template-columns:2fr 1fr 1fr 1fr;
    }

    .ast-builder-grid-row-container.ast-builder-grid-row-mobile-4-rheavy .ast-builder-grid-row
    {
        grid-template-columns:1fr 1fr 1fr 2fr;
    }

    .ast-builder-grid-row-container.ast-builder-grid-row-mobile-3-equal .ast-builder-grid-row
    {
        grid-template-columns:repeat( 3,1fr );
    }

    .ast-builder-grid-row-container.ast-builder-grid-row-mobile-3-lheavy .ast-builder-grid-row
    {
        grid-template-columns:2fr 1fr 1fr;
    }

    .ast-builder-grid-row-container.ast-builder-grid-row-mobile-3-rheavy .ast-builder-grid-row
    {
        grid-template-columns:1fr 1fr 2fr;
    }

    .ast-builder-grid-row-container.ast-builder-grid-row-mobile-3-cheavy .ast-builder-grid-row
    {
        grid-template-columns:1fr 2fr 1fr;
    }

    .ast-builder-grid-row-container.ast-builder-grid-row-mobile-3-cwide .ast-builder-grid-row
    {
        grid-template-columns:1fr 3fr 1fr;
    }

    .ast-builder-grid-row-container.ast-builder-grid-row-mobile-3-firstrow .ast-builder-grid-row
    {
        grid-template-columns:1fr 1fr;
    }

    .ast-builder-grid-row-container.ast-builder-grid-row-mobile-3-firstrow .ast-builder-grid-row > *:first-child
    {
        grid-column:1 / -1;
    }

    .ast-builder-grid-row-container.ast-builder-grid-row-mobile-3-lastrow .ast-builder-grid-row
    {
        grid-template-columns:1fr 1fr;
    }

    .ast-builder-grid-row-container.ast-builder-grid-row-mobile-3-lastrow .ast-builder-grid-row > *:last-child
    {
        grid-column:1 / -1;
    }

    .ast-builder-grid-row-container.ast-builder-grid-row-mobile-2-equal .ast-builder-grid-row
    {
        grid-template-columns:repeat( 2,1fr );
    }

    .ast-builder-grid-row-container.ast-builder-grid-row-mobile-2-lheavy .ast-builder-grid-row
    {
        grid-template-columns:2fr 1fr;
    }

    .ast-builder-grid-row-container.ast-builder-grid-row-mobile-2-rheavy .ast-builder-grid-row
    {
        grid-template-columns:1fr 2fr;
    }

    .ast-builder-grid-row-container.ast-builder-grid-row-mobile-full .ast-builder-grid-row
    {
        grid-template-columns:1fr;
    }
}

.ast-builder-layout-element[data-section="title_tagline"]
{
    display:flex;
}

@media (max-width:921px)
{
    .ast-header-break-point .ast-builder-layout-element[data-section="title_tagline"]
    {
        display:flex;
    }
}

@media (max-width:544px)
{
    .ast-header-break-point .ast-builder-layout-element[data-section="title_tagline"]
    {
        display:flex;
    }
}

.ast-builder-menu-1
{
    font-family:inherit;
    font-weight:normal;
    font-size:16px;
    font-size:1rem;
    text-transform:none;
}

.ast-builder-menu-1 .menu-item > .menu-link
{
    color:rgba(255,255,255,0.75);
}

.ast-builder-menu-1 .menu-item > .ast-menu-toggle
{
    color:rgba(255,255,255,0.75);
}

.ast-builder-menu-1 .menu-item:hover > .menu-link,.ast-builder-menu-1 .inline-on-mobile .menu-item:hover > .ast-menu-toggle
{
    color:#ffffff;
}

.ast-builder-menu-1 .menu-item:hover > .ast-menu-toggle
{
    color:#ffffff;
}

.ast-builder-menu-1 .menu-item.current-menu-item > .menu-link,.ast-builder-menu-1 .inline-on-mobile .menu-item.current-menu-item > .ast-menu-toggle
{
    color:#ffffff;
}

.ast-builder-menu-1 .menu-item.current-menu-item > .ast-menu-toggle
{
    color:#ffffff;
}

.ast-builder-menu-1 .sub-menu,.ast-builder-menu-1 .inline-on-mobile .sub-menu
{
    border-top-width:1px;
    border-bottom-width:1px;
    border-right-width:1px;
    border-left-width:1px;
    border-color:#eaeaea;
    border-style:solid;
    border-radius:0;
}

.ast-builder-menu-1 .sub-menu,.ast-builder-menu-1 .astra-full-megamenu-wrapper
{
    margin-top:0;
}

.ast-builder-menu-1 .menu-item .sub-menu .menu-link
{
    border-style:none;
}

@media (max-width:921px)
{
    .ast-header-break-point .ast-builder-menu-1 .main-header-menu .menu-item > .menu-link
    {
        color:#000000;
        padding-top:10px;
        padding-bottom:10px;
        padding-left:10px;
        padding-right:10px;
    }

    .ast-builder-menu-1 .menu-item > .ast-menu-toggle
    {
        color:#000000;
    }

    .ast-builder-menu-1 .menu-item:hover > .menu-link,.ast-builder-menu-1 .inline-on-mobile .menu-item:hover > .ast-menu-toggle
    {
        color:#ea3d84;
    }

    .ast-builder-menu-1 .menu-item:hover > .ast-menu-toggle
    {
        color:#ea3d84;
    }

    .ast-builder-menu-1 .menu-item.current-menu-item > .menu-link,.ast-builder-menu-1 .inline-on-mobile .menu-item.current-menu-item > .ast-menu-toggle
    {
        color:#ea3d84;
    }

    .ast-builder-menu-1 .menu-item.current-menu-item > .ast-menu-toggle
    {
        color:#ea3d84;
    }

    .ast-header-break-point .ast-builder-menu-1 .menu-item.menu-item-has-children > .ast-menu-toggle
    {
        top:10px;
        right:calc( 10px - 0.907em );
    }

    .ast-builder-menu-1 .menu-item-has-children > .menu-link:after
    {
        content:unset;
    }

    .ast-builder-menu-1 .main-header-menu,.ast-header-break-point .ast-builder-menu-1 .main-header-menu
    {
        margin-top:20px;
        margin-bottom:20px;
        margin-left:20px;
        margin-right:20px;
    }

    .ast-header-break-point .ast-builder-menu-1 .main-navigation .menu-item .sub-menu .menu-link,.ast-header-break-point .ast-builder-menu-1 .main-navigation .menu-item .menu-link
    {
        border-style:none;
    }
}

@media (max-width:544px)
{
    .ast-header-break-point .ast-builder-menu-1 .main-header-menu .menu-item > .menu-link
    {
        padding-top:5px;
        padding-bottom:5px;
        padding-left:5px;
        padding-right:5px;
    }

    .ast-header-break-point .ast-builder-menu-1 .menu-item.menu-item-has-children > .ast-menu-toggle
    {
        top:5px;
        right:calc( 5px - 0.907em );
    }

    .ast-builder-menu-1 .main-header-menu,.ast-header-break-point .ast-builder-menu-1 .main-header-menu
    {
        margin-top:10px;
        margin-bottom:10px;
        margin-left:20px;
        margin-right:20px;
    }

    .ast-header-break-point .ast-builder-menu-1 .main-navigation .menu-item .sub-menu .menu-link,.ast-header-break-point .ast-builder-menu-1 .main-navigation .menu-item .menu-link
    {
        border-style:none;
    }
}

.ast-builder-menu-1
{
    display:flex;
}

@media (max-width:921px)
{
    .ast-header-break-point .ast-builder-menu-1
    {
        display:flex;
    }
}

@media (max-width:544px)
{
    .ast-header-break-point .ast-builder-menu-1
    {
        display:flex;
    }
}

.ast-header-html-1 .ast-builder-html-element
{
    font-size:15px;
    font-size:0.9375rem;
}

.ast-header-html-1
{
    font-size:15px;
    font-size:0.9375rem;
}

.ast-header-html-1
{
    display:flex;
}

@media (max-width:921px)
{
    .ast-header-break-point .ast-header-html-1
    {
        display:flex;
    }
}

@media (max-width:544px)
{
    .ast-header-break-point .ast-header-html-1
    {
        display:flex;
    }
}

.header-widget-area[data-section="sidebar-widgets-header-widget-1"]
{
    display:block;
}

@media (max-width:921px)
{
    .ast-header-break-point .header-widget-area[data-section="sidebar-widgets-header-widget-1"]
    {
        display:block;
    }
}

@media (max-width:544px)
{
    .ast-header-break-point .header-widget-area[data-section="sidebar-widgets-header-widget-1"]
    {
        display:block;
    }
}

.site-below-footer-wrap[data-section="section-below-footer-builder"]
{
    background-color:#ffaf00;
    ;
    background-image:none;
    ;
    min-height:115px;
    border-style:solid;
    border-width:0px;
    border-top-width:1px;
    border-top-color:rgba(255,255,255,0.2);
}

.site-below-footer-wrap[data-section="section-below-footer-builder"] .ast-builder-grid-row
{
    align-items:flex-start;
    max-width:1240px;
    margin-left:auto;
    margin-right:auto;
}

.site-below-footer-wrap[data-section="section-below-footer-builder"].ast-footer-row-inline .site-footer-section
{
    display:flex;
    margin-bottom:0;
}

@media (max-width:921px)
{
    .site-below-footer-wrap[data-section="section-below-footer-builder"].ast-footer-row-tablet-inline .site-footer-section
    {
        display:flex;
        margin-bottom:0;
    }

    .site-below-footer-wrap[data-section="section-below-footer-builder"].ast-footer-row-tablet-stack .site-footer-section
    {
        display:block;
        margin-bottom:10px;
    }
}

@media (max-width:544px)
{
    .site-below-footer-wrap[data-section="section-below-footer-builder"].ast-footer-row-mobile-inline .site-footer-section
    {
        display:flex;
        margin-bottom:0;
    }

    .site-below-footer-wrap[data-section="section-below-footer-builder"].ast-footer-row-mobile-stack .site-footer-section
    {
        display:block;
        margin-bottom:10px;
    }
}

@media (max-width:921px)
{
    .site-below-footer-wrap[data-section="section-below-footer-builder"]
    {
        padding-top:20px;
        padding-bottom:20px;
        padding-left:20px;
        padding-right:20px;
    }
}

.site-below-footer-wrap[data-section="section-below-footer-builder"]
{
    display:grid;
}

@media (max-width:921px)
{
    .ast-header-break-point .site-below-footer-wrap[data-section="section-below-footer-builder"]
    {
        display:grid;
    }
}

@media (max-width:544px)
{
    .ast-header-break-point .site-below-footer-wrap[data-section="section-below-footer-builder"]
    {
        display:grid;
    }
}

.footer-widget-area[data-section="section-fb-html-1"] .ast-builder-html-element
{
    color:#ffffff;
    font-size:16px;
    font-size:1rem;
}

.footer-widget-area[data-section="section-fb-html-1"]
{
    font-size:16px;
    font-size:1rem;
}

.footer-widget-area[data-section="section-fb-html-1"]
{
    display:block;
}

@media (max-width:921px)
{
    .ast-header-break-point .footer-widget-area[data-section="section-fb-html-1"]
    {
        display:block;
    }
}

@media (max-width:544px)
{
    .ast-header-break-point .footer-widget-area[data-section="section-fb-html-1"]
    {
        display:block;
    }
}

.footer-widget-area[data-section="section-fb-html-1"] .ast-builder-html-element
{
    text-align:right;
}

@media (max-width:921px)
{
    .footer-widget-area[data-section="section-fb-html-1"] .ast-builder-html-element
    {
        text-align:center;
    }
}

@media (max-width:544px)
{
    .footer-widget-area[data-section="section-fb-html-1"] .ast-builder-html-element
    {
        text-align:center;
    }
}

.ast-footer-copyright
{
    text-align:left;
}

.ast-footer-copyright .ast-footer-html-inner
{
    color:#ffffff;
}

@media (max-width:921px)
{
    .ast-footer-copyright
    {
        text-align:center;
    }
}

@media (max-width:544px)
{
    .ast-footer-copyright
    {
        text-align:center;
    }
}

.ast-footer-copyright .ast-footer-html-inner
{
    font-size:15px;
    font-size:0.9375rem;
}

.ast-footer-copyright.ast-builder-layout-element
{
    display:flex;
}

@media (max-width:921px)
{
    .ast-header-break-point .ast-footer-copyright.ast-builder-layout-element
    {
        display:flex;
    }
}

@media (max-width:544px)
{
    .ast-header-break-point .ast-footer-copyright.ast-builder-layout-element
    {
        display:flex;
    }
}

.ast-main-footer-wrap
{
    background-color:#ffaf00;
    ;
    background-image:none;
    ;
}

.site-primary-footer-wrap[data-section="section-primary-footer-builder"]
{
    background-color:#ffaf00;
    ;
    background-image:none;
    ;
}

.site-primary-footer-wrap[data-section="section-primary-footer-builder"] .ast-builder-grid-row
{
    align-items:flex-start;
    max-width:1240px;
    margin-left:auto;
    margin-right:auto;
}

.site-primary-footer-wrap[data-section="section-primary-footer-builder"].ast-footer-row-inline .site-footer-section
{
    display:flex;
    margin-bottom:0;
}

@media (max-width:921px)
{
    .site-primary-footer-wrap[data-section="section-primary-footer-builder"].ast-footer-row-tablet-inline .site-footer-section
    {
        display:flex;
        margin-bottom:0;
    }

    .site-primary-footer-wrap[data-section="section-primary-footer-builder"].ast-footer-row-tablet-stack .site-footer-section
    {
        display:block;
        margin-bottom:10px;
    }
}

@media (max-width:544px)
{
    .site-primary-footer-wrap[data-section="section-primary-footer-builder"].ast-footer-row-mobile-inline .site-footer-section
    {
        display:flex;
        margin-bottom:0;
    }

    .site-primary-footer-wrap[data-section="section-primary-footer-builder"].ast-footer-row-mobile-stack .site-footer-section
    {
        display:block;
        margin-bottom:10px;
    }
}

.site-primary-footer-wrap[data-section="section-primary-footer-builder"]
{
    padding-top:0px;
    padding-bottom:100px;
    padding-left:50px;
    padding-right:50px;
}

@media (max-width:921px)
{
    .site-primary-footer-wrap[data-section="section-primary-footer-builder"]
    {
        padding-top:0px;
        padding-bottom:20px;
        padding-left:40px;
        padding-right:40px;
    }
}

@media (max-width:544px)
{
    .site-primary-footer-wrap[data-section="section-primary-footer-builder"]
    {
        padding-top:20px;
        padding-bottom:20px;
        padding-left:20px;
        padding-right:20px;
    }
}

.site-primary-footer-wrap[data-section="section-primary-footer-builder"]
{
    display:grid;
}

@media (max-width:921px)
{
    .ast-header-break-point .site-primary-footer-wrap[data-section="section-primary-footer-builder"]
    {
        display:grid;
    }
}

@media (max-width:544px)
{
    .ast-header-break-point .site-primary-footer-wrap[data-section="section-primary-footer-builder"]
    {
        display:grid;
    }
}

.footer-widget-area[data-section="sidebar-widgets-footer-widget-1"] .footer-widget-area-inner
{
    text-align:center;
}

@media (max-width:921px)
{
    .footer-widget-area[data-section="sidebar-widgets-footer-widget-1"] .footer-widget-area-inner
    {
        text-align:center;
    }
}

@media (max-width:544px)
{
    .footer-widget-area[data-section="sidebar-widgets-footer-widget-1"] .footer-widget-area-inner
    {
        text-align:center;
    }
}

.footer-widget-area[data-section="sidebar-widgets-footer-widget-1"] .footer-widget-area-inner
{
    color:#ffffff;
}

.footer-widget-area[data-section="sidebar-widgets-footer-widget-1"]
{
    margin-top:-15px;
}

.footer-widget-area[data-section="sidebar-widgets-footer-widget-1"]
{
    display:block;
}

@media (max-width:921px)
{
    .ast-header-break-point .footer-widget-area[data-section="sidebar-widgets-footer-widget-1"]
    {
        display:block;
    }
}

@media (max-width:544px)
{
    .ast-header-break-point .footer-widget-area[data-section="sidebar-widgets-footer-widget-1"]
    {
        display:block;
    }
}

.elementor-widget-heading .elementor-heading-title
{
    margin:0;
}

.elementor-post.elementor-grid-item.hentry
{
    margin-bottom:0;
}

.woocommerce div.product .elementor-element.elementor-products-grid .related.products ul.products li.product,.elementor-element .elementor-wc-products .woocommerce[class*='columns-'] ul.products li.product
{
    width:auto;
    margin:0;
    float:none;
}

.ast-left-sidebar .elementor-section.elementor-section-stretched,.ast-right-sidebar .elementor-section.elementor-section-stretched
{
    max-width:100%;
    left:0 !important;
}

.ast-header-break-point .main-header-bar
{
    border-bottom-width:0;
}

@media (min-width:922px)
{
    .main-header-bar
    {
        border-bottom-width:0;
    }
}

.ast-flex
{
    -webkit-align-content:center;
    -ms-flex-line-pack:center;
    align-content:center;
    -webkit-box-align:center;
    -webkit-align-items:center;
    -moz-box-align:center;
    -ms-flex-align:center;
    align-items:center;
}

.main-header-bar
{
    padding:1em 0;
}

.ast-site-identity
{
    padding:0;
}

.header-main-layout-1 .ast-flex.main-header-container, .header-main-layout-3 .ast-flex.main-header-container
{
    -webkit-align-content:center;
    -ms-flex-line-pack:center;
    align-content:center;
    -webkit-box-align:center;
    -webkit-align-items:center;
    -moz-box-align:center;
    -ms-flex-align:center;
    align-items:center;
}

.header-main-layout-1 .ast-flex.main-header-container, .header-main-layout-3 .ast-flex.main-header-container
{
    -webkit-align-content:center;
    -ms-flex-line-pack:center;
    align-content:center;
    -webkit-box-align:center;
    -webkit-align-items:center;
    -moz-box-align:center;
    -ms-flex-align:center;
    align-items:center;
}

.ast-mobile-popup-drawer.active .ast-mobile-popup-inner
{
    background-color:#f9f9f9;
    ;
    color:#3a3a3a;
}

.ast-mobile-header-wrap .ast-mobile-header-content
{
    background-color:#f9f9f9;
    ;
}

@media (max-width:921px)
{
    .content-align-flex-start .ast-builder-layout-element
    {
        justify-content:flex-start;
    }

    .content-align-flex-start .main-header-menu
    {
        text-align:left;
    }
}

.ast-mobile-header-wrap .ast-primary-header-bar .ast-builder-grid-row-container-inner,.ast-primary-header-bar .site-primary-header-wrap
{
    min-height:70px;
}

.ast-desktop .ast-primary-header-bar .main-header-menu > .menu-item
{
    line-height:70px;
}

.ast-desktop .ast-primary-header-bar .ast-header-woo-cart,.ast-desktop .ast-primary-header-bar .ast-header-edd-cart
{
    line-height:70px;
}

.site-header-focus-item + .ast-breadcrumbs-wrapper
{
    max-width:1280px;
    margin-left:auto;
    margin-right:auto;
    padding-left:20px;
    padding-right:20px;
}

@media (max-width:921px)
{
    #masthead .ast-mobile-header-wrap .ast-above-header-bar,#masthead .ast-mobile-header-wrap .ast-primary-header-bar,#masthead .ast-mobile-header-wrap .ast-below-header-bar
    {
        padding-left:20px;
        padding-right:20px;
    }
}

.ast-header-break-point .ast-primary-header-bar
{
    border-bottom-width:0;
    border-bottom-style:solid;
}

@media (min-width:922px)
{
    .ast-primary-header-bar
    {
        border-bottom-width:0;
        border-bottom-style:solid;
    }
}

.ast-primary-header-bar
{
    background-color:#ffffff;
    ;
}

@media (max-width:921px)
{
    .ast-desktop .ast-primary-header-bar.main-header-bar, .ast-header-break-point #masthead .ast-primary-header-bar.main-header-bar
    {
        padding-top:1.5em;
        padding-bottom:1.5em;
    }
}

@media (max-width:544px)
{
    .ast-desktop .ast-primary-header-bar.main-header-bar, .ast-header-break-point #masthead .ast-primary-header-bar.main-header-bar
    {
        padding-top:1em;
        padding-bottom:1em;
    }
}

.ast-primary-header-bar
{
    display:block;
}

@media (max-width:921px)
{
    .ast-header-break-point .ast-primary-header-bar
    {
        display:block;
    }
}

@media (max-width:544px)
{
    .ast-header-break-point .ast-primary-header-bar
    {
        display:block;
    }
}

[data-section="section-header-mobile-trigger"] .ast-button-wrap .mobile-menu-toggle-icon .ast-mobile-svg
{
    width:20px;
    height:20px;
    fill:#ffffff;
}

[data-section="section-header-mobile-trigger"] .ast-button-wrap .mobile-menu-wrap .mobile-menu
{
    color:#ffffff;
}

[data-section="section-header-mobile-trigger"] .ast-button-wrap .ast-mobile-menu-trigger-fill, [data-section="section-header-mobile-trigger"] .ast-button-wrap .ast-mobile-menu-trigger-minimal
{
    color:#ffffff;
    border:none;
}

[data-section="section-header-mobile-trigger"] .ast-button-wrap .ast-mobile-menu-trigger-outline
{
    background:transparent;
    color:#ffffff;
    border-top-width:1px;
    border-bottom-width:1px;
    border-right-width:1px;
    border-left-width:1px;
    border-style:solid;
    border-color:#ea3d84;
}

[data-section="section-header-mobile-trigger"] .ast-button-wrap .ast-mobile-menu-trigger-fill
{
    background:#ea3d84;
}

[data-section="section-header-mobile-trigger"] .ast-button-wrap .ast-mobile-menu-trigger-minimal
{
    background:transparent;
}