.avis {
    width: 100px;
}
.logosaint {
    border-radius: 30px;
    margin-top: 20px;
}
::-webkit-scrollbar {
    width: 0;
    background: 0 0;
    z-index: -30;
}
body::-webkit-scrollbar {
    width: 15px;
    z-index: -30;
}
body::-webkit-scrollbar-track {
    background: linear-gradient(0deg, #fff, #39b54a 100%);
    z-index: -30;
}
body::-webkit-scrollbar-thumb {
    background: 0 0;
    box-shadow: 0 0 0 100000vh #000;
}
#typo2 {
    -webkit-text-stroke: 1px black;
}
#typo1 {
    -webkit-text-stroke: 0.3px black;
}
#verto:hover {
    color:rgb(23, 84, 253);
}
#espaco {
    margin-left: 10%;
    margin-right: 10%;
}
.photodes {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    border-radius: 20px;
}